.vscode/**
.gitignore
tsconfig.json
tslint.json
**/*.vsix
**/*.sh
test/**
integration-test/**
.vscode-test/**
.travis.yml
**/*.gif
out/test/**
out/src/**
out/integration-test/**
!images/gauge-icon.png
images/**
.vscode-test/**
src/**
**/*.map
package-lock.json
webpack.config.js
appveyor.yml
*.ps1
node_modules