.vscode-dark .banner, .vscode-light .banner, .vscode-high-contrast .banner{
    display: none;
}

.vscode-dark, .vscode-light{
    --failure-color: #E73E48;
    --pass-color: #608b4e;
    --skip-color: #999999;
}

.vscode-high-contrast {
    --failure-color: var(--color);
    --pass-color: var(--color);
    --skip-color: var(--color);
}

.vscode-light{
    --hover-background: rgba(0,0,0,0.1);
}

.vscode-dark{
    --hover-background: rgba(255,255,255,0.1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Source Code Pro, monospace;
}

p {
    margin: 10px 0;
}

blockquote {
	font-style: italic;
	border-left: 0.25rem solid #333;
	margin-left: 0;
	padding-left: 1rem;
}

.banner {
    text-align: center;
    font-weight: bold;
    background-image: repeating-linear-gradient(45deg, #f5c10e, #f5c10e 30px, #e0b009 30px, #e0b009 60px);
}

.container {
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--background-color);
    border-bottom: 0.5px solid var(--hover-background);
    padding-bottom: 0.5em;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.report-overview {
    display: grid;
    grid-template-columns: auto 5rem;
    align-items: center;
    height: 2rem;
}

.report-overview ul{
    list-style: none;
    display: flex;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    padding-left: 10px;
}

.report-overview ul span.txt {
    margin-left: 5px;
}

.report-overview ul span.sep:after {
    content: "|";
    font-weight: bold;
    margin: 10px 10px;
}

body:not(.vscode-high-contrast) .report-overview.failed {
    border-top: 5px solid var(--failure-color);
}

body:not(.vscode-high-contrast) .report-overview.passed {
    border-top: 5px solid var(--pass-color);
}

body:not(.vscode-high-contrast) .report-overview.skipped {
    border-top: 5px solid var(--skip-color);
}

.chevron {
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 5px;
    cursor: pointer;
    padding:5px;
}

.chevron.up {
    transform:rotate(-90deg);
}

.chevron.down {
    transform:rotate(90deg);
}

.specifications .details {
    border-bottom: 0.5px solid var(--hover-background);
}

.specifications:after {
    content: "";
    display: table;
    clear: both;
}

.specifications .title {
    font-weight: 300;
    font-size: 1.125rem;
    margin: 20px 20px 10px;
    display: none;
}

.scenario-details {
    margin-bottom: 0.5em;
}

div.step {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.scenario-details, .concept-steps {
    transition: visibility 0.3s;
    transition: max-height 0.3s;
}

.scenario-details.collapsed, .concept-steps.collapsed {
    visibility: hidden;
    max-height: 0;
}

.hidden {
    display: none;
}

.details {
    padding-left: 10px;
}

.details:after {
    content: "";
    display: table;
    clear: both;
}

.details .content {
    font-size: 0.9rem;
}

.details .content:after {
    content: "";
    display: table;
    clear: both;
}

.details .cell, .inline-table td, .inline-table th {
    border: 0.5px dashed #777;
    padding: 5px 5px;
}

.details .data-table {
    border-collapse: collapse;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
}

.details .data-table td {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    opacity: 0.75;
}

.data-table tr.passed td {
    color: var(--pass-color);
}

.data-table tr.failed td {
    color: var(--failure-color);
}

.data-table tr.skipped td {
    color: var(--skip-color);
}

.data-table tr.selected td {
    opacity: 1;
}

.row-selector.selected td:first-child {
    color: var(--color);

}

.row-selector:not(.selected) td:first-child {
    visibility: hidden;
}

.data-table tr.selected td:nth-child(2) {
    border-left: 2px solid #0085C9;
}

.data-table tr:hover td {
    opacity: 0.9;
}

.row-selector:not(.selected):hover:after {
    content: "click to view results for this row";
    height: 100%;
    font-size: 0.8rem;
    vertical-align: middle;
    font-weight: normal;
    color: var(--color);
    opacity: 0.5;
    font-style: italic;
    margin-left: 1rem;
}

.spec-head {
    margin: 10px 20px 10px 0;
    display: inline-block;
    font-size: 14px;
}

h3 {
    user-select: none;
}

h3.spec-head:before {
    content: "#";
    margin-right: 5px;
}

.spec-head i.status, .scenario-head i.status {
    margin-left: 2rem;
}

.spec-head-wrapper.fail, .scenario-head.fail {
    color: var(--failure-color);
}

.spec-head-wrapper:before, .scenario-head:before, .row-selector td.status {
    font-weight: bold;
    font-size: 14px;
    margin-right: 2px;
    border-radius: 50%;
    border: 1px dashed;
    text-align: center;
    display: inline-block;
    width: 18px;
}

.spec-head-wrapper.pass, .scenario-head.pass {
    color: var(--pass-color);
}

.data-table tr:before {
    font-size: 0.8rem;
}

.spec-head-wrapper.skip, .scenario-head.skip {
    color: #a1a1a1;
}


.collapsible:hover {
    background-color: var(--hover-background);
    cursor: pointer;
}

.collapsible.collapsed:hover h3:after, .collapsible.collapsed:hover span:last-child:after {
    content: "click to expand";
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--color);
    opacity: 0.5;
    font-style: italic;
    margin-left: 1rem;
}

.collapsible:not(.collapsed):hover h3:after, .collapsible:not(.collapsed):hover span:last-child:after {
    content: "click to collapse";
    font-size: 0.8rem;
    font-weight: normal;
    color: var(--color);
    opacity: 0.5;
    font-style: italic;
    margin-left: 1rem;
}

.scenario-container .passed ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.scenario-container h4, .scenario-container h4 pre {
    margin: 0;
}

.scenario-container .not-executed .step {
    color: #a1a1a1;
}

.scenario-container .skip-reason {
    padding-left: 3em;
    font-style: italic;
}

.scenario-head {
    margin-bottom: 0.5em;
}

.scenario-head .head {
    margin: 0;
    display: inline-block;
    font-size: 14px;
}

.scenario-head h3:before {
    content: "##";
    margin-right: 5px;
}

.step-txt:before{
    content: "*";
    font-style: normal;
}

.step ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.step .passed {
    color: var(--pass-color);
}

.step .failed, .error-container.failed {
    color: var(--failure-color);
}

.step .skipped {
    color: #cccccc;
}

.errored {
    background-color: #ffda8b;
}

.concept .step-txt {
    font-weight: bold;
}

.concept .step-txt span:first-child:before {
    content: "[-]";
}

.concept.collapsed .step-txt span:first-child:before {
    content: "[+]";
}

.context-step li {
    font-style: italic;
}

.concept .step-txt:hover {
    background-color: var(--hover-background);
}

.concept-steps {
    padding-left: 20px;
}

.inline-table {
    margin: 0.5rem 1rem;
}

.inline-table table {
    border-collapse: collapse;
}

.exception-container {
    display: flex;
    flex-direction: column;
}

.exception-container .exception {
    flex-grow: 1;
}

.stacktrace {
    max-width: 100%;
}

.error {
    width: 100%;
}

.exception-container .screenshot-container {
    position: relative;
}

.exception-container img {
    max-width: 50%;
}

.execution-time {
    margin: 10px 0 5px 0;
    color: var(--skip-color);
    font-style: italic;
}

.failure_container {
    margin: 20px 0;
}

.error-container {
    font-size: 0.9rem;
    position: relative;
    margin-left: 1.2rem;
    border-left: 2px solid;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.toggle-show {
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #fff;
    color: #000;
}
.collapse-messages-header {
    cursor: pointer;
    background: #ececec;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: 0 0 0 1rem;
    text-align: center;
    font-size: 0.75rem;
}
.collapse-messages-header:active{
    outline:0;
}

.collapse-messages{
    padding: 10px 0 0 20px;
}

.message-container {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gauge-message {
    font-size: 12px;
    font-style: normal;
    width: 100%;
    color: var(--color);
    opacity: 0.8;
}

.gauge-message:hover:after {
    font-style: italic;
    font-size: 0.8rem;
    padding-left: 2rem;
    margin-top: 1rem;
    opacity: 0.5;
}

.gauge-message:hover {
    background-color: var(--hover-background);
}

.before-suite .gauge-message:hover:after{
    content: "Before Suite Messages";
}

.after-suite .gauge-message:hover:after{
    content: "After Suite Messages";
}

.before-spec .gauge-message:hover:after{
    content: "Before Spec Messages";
}

.after-spec .gauge-message:hover:after{
    content: "After Spec Messages";
}

.before-scenario .gauge-message:hover:after{
    content: "Before Scenario Messages";
}

.after-scenario .gauge-message:hover:after{
    content: "After Scenario Messages";
}

.before-step .gauge-message:hover:after{
    content: "Before Step Messages";
}

.after-step .gauge-message:hover:after{
    content: "After Step Messages";
}

.before-step, .after-step {
    padding-left: 1.6em;
}

.before-scenario, .after-scenario {
    padding-left: 3em;
}

.before-spec, .after-spec {
    padding-left: 3.6em;
}

.before-suite, .after-suite {
    padding-left: 1em;
}

.message-container .messages{
    display: block;
    color: var(--color);
    border-left: 3px solid var(--color);
}

.message-container .messages .step-message{
    padding: 0px 0px 0px 10px;
}
