name: Deploy

on: deployment

jobs:
  github-release:
    if: github.event.deployment.environment == 'production'
    name: Deploy to github
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    steps:
      - uses: actions/checkout@v2

      - name: Use NodeJS 17
        uses: actions/setup-node@v2
        with:
          node-version: 17

      - name: Build artifacts
        run: |
          npm run build

      - name: Release on github
        run: |
          if [ -z "$version" ]; then
            version=$(ls gauge-* | head -1 | sed "s/\.[^\.]*$//" | sed "s/gauge-//" | sed "s/-[a-z]*\.[a-z0-9_]*$//");
          fi

          artifacts=()
          dir=`pwd`
          artifacts+="$dir/*.vsix"

          echo "---------------------------"
          echo "Updating release v$version"
          echo "---------------------------"

          echo -e "gauge-vscode $version\n\n" > desc.txt

          release_description=$(ruby -e "$(curl -sSfL https://github.com/getgauge/gauge/raw/master/build/create_release_text.rb)" getgauge gauge-vscode)

          echo "$release_description" >> desc.txt

          echo "Creating new draft for release v$version"
          hub release create -F ./desc.txt "v$version"

          rm -rf desc.txt

          echo "Start uploading assets..."
          for i in `ls $artifacts`; do
              hub release edit -m "" -a $i "v$version"
              if [ $? -ne 0 ];then
                  exit 1
              fi
          done

  marketplace-release:
    name: Deploy to marketplace
    runs-on: ubuntu-latest
    needs: [github-release]
    env:
      VS_PAT: '${{ secrets.VS_PAT }}'
    steps:
      - uses: actions/checkout@v2

      - name: Use NodeJS 17
        uses: actions/setup-node@v2
        with:
          node-version: 17

      - name: Build artifacts
        run: |
          npm run build

      - name: Upload to marketplace
        run: |
          version=$(ls gauge-* | head -1 | sed "s/\.[^\.]*$//" | sed "s/gauge-//" | sed "s/-[a-z]*\.[a-z0-9_]*$//");
          npm install
          npm run publish -- --packagePath gauge-$version.vsix -p $VS_PAT
