name: vscode

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Use NodeJS 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          check-latest: true
          go-version: '1.24'

      - name: build
        run: |
          npm run build

      - uses: getgauge/setup-gauge@master
        with:
          gauge-version: master
          gauge-plugins: screenshot,html-report,js

      - name: Run tests (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          xvfb-run --auto-servernum npm test

      - name: Run compatibility tests (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          xvfb-run --auto-servernum npm run compatibilityTest

      - name: Run tests (macos)
        if: matrix.os == 'macos-latest'
        run: |
          npm test

      - name: Run compatibility tests (macos)
        if: matrix.os == 'macos-latest'
        run: |
          npm run compatibilityTest

      - name: Run tests (windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          npm test

      - name: Run compatibility tests (windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          npm run compatibilityTest

      - name: Upload logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: logs-${{ matrix.os }}
          path: test/testdata/sampleProject/
